<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
<h1>This is my about page</h1>

    <form method="post" action="save">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="nm"/>

                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="em"/>

                </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>
                    <input type="text" name="cn"/>

                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="text" name="age"/>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    {{msg}}
    </form>
</body>
</html>